{% extends "home.html.j2" %}
{% import "macros.html.j2" as m %}

{% block error_box %}
	<div class="error-box">
		<div class="error-msg-wrapper">
			<div class="header">
				{{ m.alert_svg(class='alert') }}
				<h3>{{ err_code }} - {{ err_name }}</h3>
			</div>
			<p>{{ err_msg }}</p>
		</div>
		<img src="{{ url_for('static', filename='images/gengar.gif') }}" class="gengar" alt="gengar">
	</div>
{% endblock %}
