{% import "macros.html.j2" as m %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Playcount Checker</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>

<body>
	<header class="header-banner">
		{{ m.spotify_icon_svg(class='spotify-icon') }}
		<h1 class="header">Spotify Playcount Checker</h1>
	</header>

	<img src="{{ url_for('static', filename='girl-with-headphone.jpg') }}" class="girl-with-headphone" alt="girl-with-headphone">

	<form method="GET" class="spotify-uri-search-form" action="{{ url_for('playcount_page') }}">
		<label class="enter-spotify-uri" for="uri-input">Enter Spotify URI (artist / album / track / playlist):</label>
		<input 
			type="text"
			class="uri-input"
			id="uri-input"
			name="uri-input"
			placeholder="spotify:album:22characters-long-here &#127900;"
			required
		>
		<button type="submit" class="submit-btn">Get Playcount!</button>
	</form>

	{% block error_box %}
	{% endblock %}
</body>

</html>
