{% extends "playcount-layout.html.j2" %}
{% import "macros.html.j2" as m %}

{% block artist_links_card %}
	<section class="artist-links-card">
		{% for artist in artists %}
			<div class="artist-link">
				<a href="{{ artist['spotify_url'] }}" class="spotify-img-wrapper" target="_blank">
					<img src="{{ artist['image_url'] }}" class="spotify-img">
				</a>
				<h2><a href="/playcount?uri-input=spotify%3Aartist%3A{{ artist['id'] }}" class="name">{{ artist['name'] }}</a></h2>
			</div>
		{% endfor %}
	</section>
{% endblock %}

{% block data_table %}
	<table class="tracks-table">
		<thead>
			<tr>
				<th class="tracks-header" colspan="4">TRACKS &#128191;</th>
			</tr>
			<tr>
				<th class="track-number">#</th>
				{{ m.title_playcount_pop() }}
			</tr>
		</thead>
		<tbody>
			{% if is_multidisc %}
				{% for track in tracks %}
					{{ m.track_row(track, track_highlight, track['disc_number'] + '-') }}
				{% endfor %}
			{% else %}
				{% for track in tracks %}
					{{ m.track_row(track, track_highlight) }}
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
{% endblock %}
