{% extends "playcount-layout.html.j2" %}
{% import "macros.html.j2" as m %}

{% block data_table %}
	{% for album_type in (albums, compilations, singles) %}
		{% if album_type %}
			<table class="albums-table">
				<thead>
					<tr>
						{% if album_type == albums %}
							<th class="album-type-header" id="albums" colspan="4">ALBUMS &#128191;</th>
						{% elif album_type == compilations %}
							<th class="album-type-header" id="compilations" colspan="4">COMPILATIONS &#128191;</th>
						{% elif album_type == singles %}
							<th class="album-type-header" id="singles" colspan="4">SINGLES &#128191;</th>
						{% endif %}
					</tr>
					<tr>
						<th class="spotify-icon-header">
							{{ m.spotify_icon_svg(class='spotify-icon') }}
						</th>
						<th class="title">Title</th>
						<th class="playcount">Playcount</th>
						<th class="popularity">Pop</th>
					</tr>
				</thead>
				<tbody>
					{% for album in album_type %}
						<tr>
							<td class="album-cover-art">
								<a href="{{ album['spotify_url'] }}" target="_blank">
									<img src="{{ album['cover_art_url'] }}">
								</a>
							</td>
							<td class="title">
								<a href="/playcount?uri-input=spotify%3Aalbum%3A{{ album['id'] }}" class="name">{{ album['title'] }}</a>
								<p class="total-tracks">Tracks: {{ album['total_tracks'] }}</p>
							</td>
							<td class="playcount">{{ album['total_playcount'] }}</td>
							<td class="popularity">{{ album['popularity_index'] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	{% endfor %}
{% endblock %}
