<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Playcount Checker | {{ page }}</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='playcount.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
	<script src="{{url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
	<header class="header-banner">
		{{ m.spotify_icon_svg(class='spotify-icon') }}
		<h1 class="header">Spotify Playcount Checker</h1>

		<form method="GET" class="spotify-uri-search-form" action="{{ url_for('playcount_page') }}">
			<input 
				type="text"
				class="uri-input"
				id="uri-input"
				name="uri-input"
				placeholder="spotify:album:22characters-long-here &#127900;"
				required
			>
			<button type="submit" class="submit-btn">Get Playcount!</button>
		</form>
	</header>

	<main class="main-content-area">
		<section class="data-card">
			<a href="{{ spotify_url }}" class="spotify-img-wrapper" target="_blank">
				{% if image_url %}
					<img src="{{ image_url }}", class="spotify-img" alt="{{ name }}">
				{% else %}
					<img src="{{ url_for('static', filename='girl-with-headphone.jpg') }}" class="spotify-img">
				{% endif %}
			</a>

			<div class="text-data">
				<h2 class="name">{{ name }}
					<a href="{{ spotify_url }}" class="spotify-icon-wrapper" target="_blank">
						{{ m.spotify_icon_svg(class='spotify-icon') }}
					</a>
				</h2>
				{% if page in ('Artist', 'Album') %}
					<div class="playcount-popularity">
						<h3>Playcount: {{ playcount }}</h3>
						<h3>Popularity: {{ popularity }}</h3>
					</div>
				{% elif page == 'Playlist' %}
					<div class="followers-trackcount">
						<h3>Followers: {{ followers }}</h3>
						<h3>Tracks: {{ track_count }}</h3>
					</div>
				{% endif %}
			</div>
		</section>

		{% block artist_links_card %}
		{% endblock %}

		{% block data_table %}
		{% endblock %}
	</main>

	<div class="nav-btns-wrapper">
		{% for album_type in (albums, compilations, singles) %}
			{% if album_type %}
				{% if album_type == albums %}
					<a href="#albums" class="album-type btn">
						{{ m.alphabet_a_svg(class='icon') }}
					</a>
				{% elif album_type == compilations %}
					<a href="#compilations" class="album-type btn">
						{{ m.alphabet_c_svg(class='icon') }}
					</a>
				{% elif album_type == singles %}
					<a href="#singles" class="album-type btn">
						{{ m.alphabet_s_svg(class='icon') }}
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}

		<a href="#top" class="back-to-top btn">
			{{ m.up_arrow_svg(class='icon') }}
		</a>
	</div>
</body>

</html>
